<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VueMovieClip</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="http://cdnst.immomo.com/momofes/js/mobile/momo_bridge.2.0.4.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>

    body, html {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;

    }

    .btn {
        padding: 5px 10px 5px 10px;
        background: #2b81af;
        color: #fff;
        float: left;
        margin: 3px;
        cursor: pointer;
        -webkit-user-select: none;
    }

    .btn:hover {
        padding: 5px 10px 5px 10px;
        background: #ff0000;

    }


</style>
<body>
<div id="app">
    <vue-movie-clip ref="my_movieclip" :auto-play="true" :init-frame="10" :width="width"
                    :height="360" type="dom" v-show="true" :frame-time="frameTime"
                    :frame="frame" :frames="frames"
                    :loop="loop" :forward="forward"
                    @frame="onFrame" @play="onPlay" @stop="onStop">

    </vue-movie-clip>

    <div style="height: 20px">
        <div style="float: left;padding-left: 10px;width:110px;">frame:</div>
        <vue-slider style="float: left" ref="slider" :speed="0" v-model="frame" tooltip="hover" @callback="sliderCallback"
                    :width="width-120" :max="frames.length"></vue-slider>
    </div>
    <div style="height: 20px;clear: both">
        <div style="float: left;padding-left: 10px;width:110px">frameTime:</div>
        <vue-slider style="float: left" ref="slider2" v-model="frameTime" tooltip="hover"
                    :width="width-120" :max="100"></vue-slider>
    </div>
    <div style="clear: both">
        <div class="btn" @click="switchState()">{{state}}</div>
        <div class="btn" @click="switchLoop()">loop:{{loop}}</div>
        <div class="btn" @click="switchForward()">forward:{{forward}}</div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="dist/slider.js"></script>
<script src="dist/vue-movie-clip.js"></script>
<script>


    function PrefixInteger(num, n) {
        return (Array(n).join(0) + num).slice(-n);
    }
    let frames = [];
    for (let i = 1; i < 220; i++) {
        frames.push('img/video/' + PrefixInteger(i, 5) + '.jpg')
    }

    new Vue({
        el: '#app',
        components: {
            VueMovieClip: VueMovieClip, vueSlider: window['vue-slider-component']
        },
        data: {
            frame: 5, frames: frames, width: 640, frameTime: 20, state: 'stop',loop:true,forward:true,
            page: 1, show: false, movies: [{current: 0.5}]
        },
        methods: {
            sliderCallback: function (value) {
                this.$refs.my_movieclip.skipTo(value);
            },
            switchLoop: function () {
                this.loop=! this.loop
            },  switchForward: function () {
                this.forward=! this.forward
            },
            switchState: function () {
                if (this.$refs.my_movieclip.playing) {
                    this.$refs.my_movieclip.stop();
                } else {
                    this.$refs.my_movieclip.play();
                }
            },
            updateState: function () {
                this.state = this.$refs.my_movieclip.playing ? 'stop' : 'play'
            },

            setFrameTime: function (frameTime) {
                this.$refs.my_movieclip.setFrameTime(frameTime);
                this.frameTime = this.$refs.my_movieclip.frameTime;
                console.log(this.frameTime)
            },
            skipTo: function (frame) {
                this.$refs.my_movieclip.skipTo(frame);
            },
            onFrame: function (mc) {
                this.frame = mc.frame;
                // this.width=640-this.frame;
                // console.log(mc.frame)
            },
            onPlay: function (mc) {
                console.log('play')
                this.updateState()
            },
            onStop: function (mc) {
                console.log('stop')
                this.updateState()
                //  this.$refs.my_movieclip.skipTo(1);
            }
        }
    })


</script>
</body>
</html>
