<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VueMovieClip</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="http://cdnst.immomo.com/momofes/js/mobile/momo_bridge.2.0.4.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>

    body, html {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;


    }

    #app,.full {
        width: 100%;
        height: 100%;
    }

    .btn {
        padding: 5px 10px 5px 10px;
        background: #2b81af;
        color: #fff;
        float: left;
        margin: 3px;
        cursor: pointer;
        -webkit-user-select: none;
    }

    .btn:hover {
        padding: 5px 10px 5px 10px;
        background: #ff0000;

    }
    .pa{
        position: absolute;
        bottom:0px;
        left: 0px;
        width: 100%;
        height: 140px;
        color: #fff;
    }


</style>
<body>
<div id="app">
    <div class="full">
        <vue-fix-dom  width="640px" height="360px" align="crop">
            <vue-movie-clip  ref="my_movieclip" :auto-play="true" :init-frame="10" width="320px"
                            height="180px" type="canvas" v-show="true" :frame-time="frameTime"
                            :frame="frame" :frames="frames"
                            :loop="loop" :forward="forward"
                            @frame="onFrame" @play="onPlay" @stop="onStop" style="left:160px;top:90px;position:absolute ">
            </vue-movie-clip>


        </vue-fix-dom>
    </div>
    <div class="pa">



    <div style="height: 45px">
        <div style="padding-left: 10px;width:110px;">frame:</div>
        <vue-slider style="" ref="slider" :speed="0" v-model="frame" tooltip="hover"
                    @callback="sliderCallback"
                     :width="360" :min="1" :max="frames.length"></vue-slider>
    </div>
    <div style="height: 45px;clear: both">
        <div style="padding-left: 10px;width:110px">frameTime:</div>
        <vue-slider  ref="slider2" v-model="frameTime" tooltip="hover"
                    :width="360"   :max="100"></vue-slider>
    </div>
    <div style="clear: both">
        <div class="btn" @click="switchState()">{{state}}</div>
        <div class="btn" @click="switchLoop()">loop:{{loop}}</div>
        <div class="btn" @click="switchForward()">forward:{{forward}}</div>
    </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="dist/slider.js"></script>
<script src="node_modules/vue-fix-dom/dist/vue-fix-dom.js"></script>
<script src="dist/vue-movie-clip.js"></script>
<script>


    function PrefixInteger(num, n) {
        return (Array(n).join(0) + num).slice(-n);
    }

    let frames = [];

    // frames.push('')
    for (let i = 1; i <= 208; i++) {
        frames.push('img/video/' + PrefixInteger(i, 5) + '.jpg')
        // frames.push('img/dazhao' + PrefixInteger(i, 1) + '_02.png')
    }


     frames.push('')



    let frames2 = [];

    // frames.push('')
    for (let i = 1; i <= 8; i++) {

         frames2.push('img/dazhao' + PrefixInteger(i, 1) + '_02.png')
    }


    frames2.push('')

    new Vue({
        el: '#app',
        components: {
            VueMovieClip: VueMovieClip, vueSlider: window['vue-slider-component'], VueFixDom: VueFixDom
        },
        data: {
            frame: 5, frames: frames, frameTime: 10, state: 'stop', loop: 1, forward: true,frames2:frames2,
            page: 1, show: false, movies: [{current: 0.5}]
        },
        methods: {
            sliderCallback: function (value) {
                this.$refs.my_movieclip.skipTo(value);
            },
            switchLoop: function () {
               // this.loop = !this.loop
            }, switchForward: function () {
                this.forward = !this.forward
            },
            switchState: function () {
                if (this.$refs.my_movieclip.playing) {
                    this.$refs.my_movieclip.stop();
                } else {
                    this.$refs.my_movieclip.play();
                }
            },
            updateState: function () {
                this.state = this.$refs.my_movieclip.playing ? 'stop' : 'play'
            },

            setFrameTime: function (frameTime) {
                this.$refs.my_movieclip.setFrameTime(frameTime);
                this.frameTime = this.$refs.my_movieclip.frameTime;
                console.log(this.frameTime)
            },
            skipTo: function (frame) {
                this.$refs.my_movieclip.skipTo(frame);
            },
            onFrame: function (mc) {
                this.frame = mc.frame;
                // this.width=640-this.frame;
                // console.log(mc.frame)
            },
            onPlay: function (mc) {
                console.log('play')
                this.updateState()
            },
            onStop: function (mc) {
                console.log('stop')
                this.updateState()
                //  this.$refs.my_movieclip.skipTo(1);
            }
        }
    })


</script>
</body>
</html>
